{% extends 'index.html' %}
{% block content %}
<h3>Your posts</h3>
{% for post in user_posts %}
<div class="categories__post__item">
    <div class="categories__post__item__pic small__item set-bg" data-setbg="{{ post.post_image.first.image.url }}"
         style="width: 308px; height: 255px">
        <div class="post__meta">
            <h4>{{post.create_at|date:"d"}}</h4>
            <span>{{post.create_at|date:"M"}}</span>
        </div>
    </div>
    <div class="categories__post__item__text">
        <span class="post__label">{{post.category}}</span>
        <h3><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
        <ul class="post__widget">
            <li>by <span>{{post.author}}</span></li>
            <li>3 min read</li>
            <li>{{ post.get_reply.count }} Comments</li>
        </ul>
        <p>{{post.description| slice:":250" }}</p>
    </div>
</div>
{% endfor %}
<h3>User information</h3>
<div class="card" style="width: 18rem;">
    <div class="card-header">
        Featured
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{user_obj.username}}</li>
        <li class="list-group-item">Bio:{{user_obj.bio}}</li>
        <li class="list-group-item">Age: {{ user_obj.age }}</li>
        <li class="list-group-item">Gender: {{ user_obj.gender }}</li>
        <img src="{{ user_obj.profile.url }}">
    </ul>
</div>


{% endblock %}